body {
    background-color: #639a67;
}

.imgDiv {
    display: flex;
    justify-content: center;
    padding: 200px 200px 100px 200px;
}


@media(max-width: 375px) {
    .imgDiv {
        padding: 100px 0;
    }
}
